#introgallery{
  font-variant: small-caps;
  box-sizing: border-box;
  margin: 0 3vw 0 3vw;
  color: white;
  font-size: 25px;
}

#introgallery h1{
  padding-top: 100px;
  color: #E80F0F;
  font-size: 45px;
  font-family: bodoni;
  text-align: center;
  z-index: 0;
}

#introgallery p {
  font-size: 18px;

  font-variant: normal;
}




 #index-gallery {

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-gap: 10px;
   grid-template-areas:
   "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
   "gallery-p gallery-p gallery-p gallery-p"
   "img1 img2 img3 img4"
   "img5 img6 img7 img8";
 }

 #index-gallery .gallery-img{
   width: 100%;
   height: 300px;

   background-repeat: no-repeat;
   background-size: cover;

   background-position: center;
   cursor: pointer;
 }

/* Images */

#index-gallery p{
  grid-area: gallery-p;
  color:white;
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 1px;
}

#index-gallery h2{
  margin-bottom: 0;
  color: #E80F0F;
  font-size: 40px;
  font-variant: small-caps;
  grid-area: gallery-h2;
}







#index-gallery .img1{
  grid-area: img1;
  background-image: url("../photos/thumbs/img1.jpg");
}

#index-gallery .img2{
  grid-area: img2;
  background-image: url("../photos/thumbs/img2.jpg");
}

#index-gallery .img3{
  grid-area: img3;
  background-image: url("../photos/thumbs/img3.jpg");

}

#index-gallery .img4{
  grid-area: img4;
  background-image: url("../photos/thumbs/img4.jpg");
}

#index-gallery .img5{
  grid-area: img5;
  background-image: url("../photos/thumbs/img5.jpg");
}

#index-gallery .img6{
  grid-area: img6;
  background-image: url("../photos/thumbs/img6.jpg");
}

#index-gallery .img7{
  grid-area: img7;
  background-image: url("../photos/thumbs/img7.jpg");
}

#index-gallery .img8{
  grid-area: img8;
  background-image: url("../photos/thumbs/img8.jpg");
}

/* gallery image titles*/

.gallery-img div{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}


.gallery-img div:hover {
  opacity: 0.9;
  transition: all ease-in-out 100ms;

}



/* Pop up window of Image */
.img-window{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top:0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img{
  max-height: 80vh;
  max-width: 80vw;
}

/* styling*/


.img-btn-prev{
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: bodoni;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-prev:hover{
  opacity: 0.6;
}

.img-btn-next {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: bodoni;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-next:hover{
  opacity: 0.6;
}






@media (max-width: 919px){
  #introgallery h1{
    font-size: 35px;
  }
  #index-gallery h2{
    font-size: 30px;
  }

  .gallery-img a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .img-window img{
    max-height: 75vh;
    max-width: 75vw;
  }

  #index-gallery .gallery-img{

    height: 200px;
  }

  #index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "gallery-h2 gallery-h2 gallery-h2"
    "gallery-p gallery-p gallery-p"
    "img1 img2 img3"
    "img4 img2 img5"
    "img6 img7 img8 ";
  }
  #index-gallery .img2{
    height: 400px;
  }

}

@media (max-width: 550px){
  #introgallery h1{
    font-size: 25px;
  }

  #introgallery p{
    font-size: 15px;
  }

  #index-gallery h2{
    font-size: 25px;
  }
  #index-gallery p{
    font-size: 15px;
  }
  #index-gallery .gallery-img{
    width: 44vw;
    height: 200px;
  }

  #index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "gallery-h2 gallery-h2"
    "gallery-p gallery-p"
    "img1 img2"
    "img3 img4"
    "img5 img6"
    "img7 img8";
  }


  .gallery-img a{
    font-size: 11px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  .img-window img{
    max-height: 65vh;
    max-width: 65vw;
  }

}
