.hero {
  background: url("seat.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 10px);
  position: relative;
  box-sizing: border-box;
  z-index: 0;

}

@media (max-width: 919px) {

  .hero {
    height: calc(100vh);
  }
}


.firstb{
  background: transparent;
  font-family: bodoni;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
}

.firstb a{
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 2px white;
  padding: 6px;
  margin: 2px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

@media (max-width: 580px){

.firstb a{
  font-size: 20px;
  }
}
